- if can_edit_phrases?
  .text-options#zenpenbubble
    .options
      %span.no-overflow
        %span.lengthen.ui-inputs 
          %button.url.useicons &#xe005;
          %input.url-input{placeholder: "Type or Paste URL here", type: "text"}/
          %button.bold b
          %button.italic i





  #phrack-edit-mode-bubble
    #phrack-edit-mode
      #phrack-edit-mode-headline
        %p Edit
      #phrack-onoffswitch
        .onoffswitch
          %input#edit-mode-onoffswitch.onoffswitch-checkbox{checked: "checked", name: "onoffswitch", type: "checkbox"}/
          %label.onoffswitch-label{for: "edit-mode-onoffswitch"}
            .onoffswitch-inner
            .onoffswitch-switch
    #phrack-saved-status
      #phrack-saved-status-headline
        %p Saved
      #phrack-saved-status-indicator
        #phrack-saved-status-indicator-circle
    #phrack-edit-all-phrases
      #phrack-edit-all-phrases-headline
        %p Edit all
      #phrack-edit-all-phrases-icon-container
        = link_to image_tag("phrack_icon_edit_all.png", class: 'phrack-edit-all-phrases-icon'), phrack_phrases_path, data: { no_turbolink: true }, class: "phrack-edit-all-phrases-link"